.night {
    --sky: #1b4f72;
    --bg-color: #1b2631;
    --color: snow;
    --brightness: 80%;
}

.bw {
    --bg-color: black;
    --sky: #1b4f72;
    --grayscale: 1;
    --brightness: 120%;
    --contrast: 200%;
    --color: snow;
}

.dino-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dino-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: #1b4f72;
}

.ground-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 30px;
    bottom: 0;
}

.ground {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: url(/img/game/ground_grass.png) repeat-x;
    animation: moveGround 2s linear infinite;
    animation-play-state: paused;
}

.ground.running {
    animation-play-state: running;
}

.ground:nth-child(2) {
    left: 100%;
}

@keyframes moveGround {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.dino {
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    background-image: url(/img/game/gw_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    animation: run 0.4s infinite;
    animation-play-state: paused;
}

.dino.running {
    animation-play-state: running;
}

.dino.jumping {
    animation: realisticJump 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-play-state: paused;

    &.running {
        animation-play-state: running;
    }
}

@keyframes realisticJump {
    0% {
        transform: translateY(0); /* Start on the ground */
    }
    50% {
        transform: translateY(-150px); /* Peak of the jump */
    }
    100% {
        transform: translateY(0); /* Land back on the ground */
    }
}

@keyframes run {
    0% {
        background-image: url(/img/game/gw_1.png);
    }
    50% {
        background-image: url(/img/game/gw_2.png);
    }
    100% {
        background-image: url(/img/game/gw_1.png);
    }
}

.start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .startBtn {
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fcce00;
        color: #000;
        border: none;
        border-radius: 5px;
        transition: background-color 0.2s;

        &:hover {
            background-color: #ffcc00;
        }
    }
}

.score-board {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .timer {
        font-size: 30px;
        font-weight: bold;
    }

    .score {
        font-size: 30px;
        font-weight: bold;
    }
}



.rock {
    position: absolute;
    bottom: 10px;
    left: 100%;  /* Start from the right edge */
    width: 70px;  /* Width of the rock */
    background-size: contain;
    animation: moveRock 2.15s linear;
}

@keyframes moveRock {
    0% {
        left: 100%;  /* Start at the right edge */
    }
    100% {
        left: -50px;  /* Move to the left off the screen */
    }
}